# Local configuration files
local.properties
spotday-app/local.properties
spotday-app/spotday-app/local.properties

# Android Studio files
*.iml
.gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
