# Android
**/build/
*.iml
.gradle
.idea
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
**/local.properties
*.apk
*.aar

# Memory dumps and logs
*.hprof
*.log

# Keystore files (DO NOT commit these!)
*.jks
*.keystore
keystore.properties
**/keystore.properties
